label {
  height: 18px;
  width: 18px;
}

.counter-items {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.counter-label-typography {
  /* margin-right: 22px;
  margin-left: 10px; */
  width: 18px;
  height: 18px;
  text-align: center;
  font-family: monospace;
}

.counter {
  width: 25px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.counter-button {
  margin: 5px 5px;
}

.item > Typography {
  margin-right: 7px;
}

.counter-label {
  width: 18px;
  height: 18px;
}
